In [1]:
import pandas as pd
import numpy as np


data1=pd.read_csv('rank_count_1.csv')
df1 = pd.DataFrame(data1)

data3=pd.read_csv('rank_count_3.csv')
df3 = pd.DataFrame(data3)

data5=pd.read_csv('rank_count_5.csv')
df5 = pd.DataFrame(data5)

In [2]:
df1

df1['from'] = 'score 1'

temp = df1['count'].sum()

df1['count_per'] = df1['count'] / temp

df1['count_per']

0     0.080087
1     0.188312
2     0.038961
3     0.054113
4     0.012987
5     0.038961
6     0.058442
7     0.041126
8     0.030303
9     0.047619
10    0.017316
11    0.012987
12    0.012987
13    0.010823
14    0.019481
15    0.010823
16    0.012987
17    0.008658
18    0.008658
19    0.004329
20    0.004329
21    0.004329
22    0.004329
23    0.004329
24    0.004329
25    0.017316
26    0.015152
27    0.006494
28    0.010823
29    0.010823
30    0.010823
31    0.036797
32    0.028139
33    0.019481
34    0.015152
35    0.010823
36    0.012987
37    0.036797
38    0.015152
39    0.021645
Name: count_per, dtype: float64

In [3]:


df3['from'] = 'score 3'

df3

temp = df3['count'].sum()

df3['count_per'] = df3['count'] / temp

df3['count_per']

0     0.074313
1     0.145396
2     0.084006
3     0.043619
4     0.063005
5     0.024233
6     0.016155
7     0.016155
8     0.030695
9     0.027464
10    0.021002
11    0.029079
12    0.021002
13    0.008078
14    0.027464
15    0.012924
16    0.006462
17    0.009693
18    0.021002
19    0.032310
20    0.037157
21    0.025848
22    0.024233
23    0.006462
24    0.014540
25    0.035541
26    0.012924
27    0.006462
28    0.019386
29    0.017771
30    0.008078
31    0.006462
32    0.030695
33    0.006462
34    0.003231
35    0.003231
36    0.006462
37    0.003231
38    0.012924
39    0.004847
Name: count_per, dtype: float64

In [4]:


df5['from'] = 'score 5'

temp = df5['count'].sum()

df5['count_per'] = df5['count'] / temp

df5['count_per'].sum()

1.0

In [5]:
df = pd.concat([df1,df3,df5], ignore_index=True)

df['from'].value_counts()

score 3    40
score 5    40
score 1    40
Name: from, dtype: int64

In [6]:
df.to_csv('rank_count_merge.csv')

In [7]:
df['Unnamed: 0'].unique()

array(['먹다', '하다', '있다', '않다', '소스', '아니다', '이다', '보다', '되다', '맛있다',
       '아쉽다', '이렇다', '알다', '주문', '좋다', '넣다', '기억', '껍질', '예약', '되어다',
       '지금', '아내', '어울리다', '방법', '다양하다', '이집', '많다', '퍽퍽', '게다가', '평범하다',
       '리뷰', '없다', '정말', '괜찮다', '레스토랑', '와인', '들다', '같다', '자다', '주다',
       '나오다', '살짝', '메뉴', '방문', '생각', '사실', '모르다', '파스타', '음식', '아뮤즈',
       '트러플', '요리', '좋아하다', '디저트', '크다', '익히다', '따다', '만들다', '당연하다', '버섯',
       '감흥', '식감', '작다', '싶다', '느낌', '재료', '정도', '느끼다', '버터', '가다', '하나',
       '새우', '차다', '아주', '오다'], dtype=object)

In [9]:
df.shape

(120, 5)

In [11]:
df['count'].describe()

count     120.000000
mean       69.950000
std       137.158796
min         2.000000
25%         6.000000
50%        17.000000
75%        85.500000
max      1003.000000
Name: count, dtype: float64