In [1]:
import pandas as pd
import numpy as np
import datetime

In [30]:
df = pd.read_csv('./plant1_train.csv', index_col=0)

In [31]:
df.head(10)

,plant1_train.mea_ddhr,plant1_train.tem_in_loc1,plant1_train.hum_in_loc1,plant1_train.tem_coil_loc1,plant1_train.tem_in_loc2,plant1_train.hum_in_loc2,plant1_train.tem_coil_loc2,plant1_train.tem_in_loc3,plant1_train.hum_in_loc3,plant1_train.tem_coil_loc3,plant1_train.tem_out_loc1,plant1_train.hum_out_loc1,plant1_train.cond_loc1,plant1_train.cond_loc2,plant1_train.cond_loc3
1,2016-04-01 0:00,16.0,24.0,11.0,14.0,23.0,11.0,13.0,32.0,10.0,9.0,42.0,0.0,0.0,0.0
2,2016-04-01 3:00,14.0,28.0,10.0,12.0,32.0,9.0,11.0,42.0,7.0,7.0,59.0,0.0,0.0,0.0
3,2016-04-01 6:00,13.0,33.0,10.0,11.0,37.0,9.0,10.0,44.0,7.0,6.0,56.0,0.0,0.0,0.0
4,2016-04-01 9:00,13.0,33.0,10.0,11.0,35.0,9.0,10.0,41.0,8.0,18.0,30.0,0.0,0.0,0.0
5,2016-04-01 12:00,16.0,28.0,10.0,15.0,27.0,11.0,14.0,30.0,9.0,18.0,20.0,0.0,0.0,0.0
6,2016-04-01 15:00,18.0,24.0,14.0,18.0,21.0,14.0,16.0,27.0,12.0,17.0,23.0,0.0,0.0,0.0
7,2016-04-01 18:00,17.0,28.0,14.0,17.0,29.0,14.0,15.0,38.0,12.0,12.0,52.0,0.0,0.0,0.0
8,2016-04-01 21:00,16.0,38.0,12.0,15.0,36.0,12.0,14.0,41.0,11.0,11.0,55.0,0.0,0.0,0.0
9,2016-04-02 0:00,15.0,41.0,12.0,14.0,43.0,12.0,13.0,49.0,11.0,10.0,57.0,0.0,0.0,0.0
10,2016-04-02 3:00,14.0,41.0,10.0,12.0,44.0,9.0,12.0,49.0,8.0,10.0,54.0,0.0,0.0,0.0

In [5]:
df_loc1 = ['plant1_train.mea_ddhr'] + [x for x in df.columns if x[-1] == str(1)]
print(df_loc1)

['plant1_train.mea_ddhr', 'plant1_train.tem_in_loc1', 'plant1_train.hum_in_loc1', 'plant1_train.tem_coil_loc1', 'plant1_train.tem_out_loc1', 'plant1_train.hum_out_loc1', 'plant1_train.cond_loc1']

In [6]:
df_loc2 = ['plant1_train.mea_ddhr'] + [x for x in df.columns if x[-1] == str(2) and x != 'plant1_train.cond_loc2'] + ['plant1_train.tem_out_loc1', 'plant1_train.hum_out_loc1'] + ['plant1_train.cond_loc2']
print(df_loc2)

['plant1_train.mea_ddhr', 'plant1_train.tem_in_loc2', 'plant1_train.hum_in_loc2', 'plant1_train.tem_coil_loc2', 'plant1_train.tem_out_loc1', 'plant1_train.hum_out_loc1', 'plant1_train.cond_loc2']

In [8]:
df_loc3 = ['plant1_train.mea_ddhr'] + [x for x in df.columns if x[-1] == str(3) and x != 'plant1_train.cond_loc3'] + ['plant1_train.tem_out_loc1', 'plant1_train.hum_out_loc1'] + ['plant1_train.cond_loc3']
print(df_loc3)

['plant1_train.mea_ddhr', 'plant1_train.tem_in_loc3', 'plant1_train.hum_in_loc3', 'plant1_train.tem_coil_loc3', 'plant1_train.tem_out_loc1', 'plant1_train.hum_out_loc1', 'plant1_train.cond_loc3']

In [9]:
df1 = df[df_loc1]
df2 = df[df_loc2]
df3 = df[df_loc3]

In [10]:
df1['loc'] = 1
df2['loc'] = 2
df3['loc'] = 3

C:\Users\sean\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\sean\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\sean\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [11]:
df1.head()

,plant1_train.mea_ddhr,plant1_train.tem_in_loc1,plant1_train.hum_in_loc1,plant1_train.tem_coil_loc1,plant1_train.tem_out_loc1,plant1_train.hum_out_loc1,plant1_train.cond_loc1,loc
1,2016-04-01 0:00,16.0,24.0,11.0,9.0,42.0,0.0,1
2,2016-04-01 3:00,14.0,28.0,10.0,7.0,59.0,0.0,1
3,2016-04-01 6:00,13.0,33.0,10.0,6.0,56.0,0.0,1
4,2016-04-01 9:00,13.0,33.0,10.0,18.0,30.0,0.0,1
5,2016-04-01 12:00,16.0,28.0,10.0,18.0,20.0,0.0,1

In [12]:
pd.value_counts(df1['loc'])

1    58749
Name: loc, dtype: int64

In [13]:
print(df1.values.shape, 
      df2.values.shape, 
      df3.values.shape)

(58749, 8) (58749, 8) (58749, 8)

In [14]:
whole = np.vstack((df1.values, df2.values, df3.values))

In [15]:
whole.shape

(176247, 8)

In [16]:
new_df = pd.DataFrame(whole, columns=['mea_ddhr', 'tem_in', 'hum_in', 'tem_coil', 'tem_out', 'hum_out', 'cond', 'loc'])

In [17]:
new_df.head()

           mea_ddhr tem_in hum_in tem_coil tem_out hum_out cond loc
0   2016-04-01 0:00     16     24       11       9      42    0   1
1   2016-04-01 3:00     14     28       10       7      59    0   1
2   2016-04-01 6:00     13     33       10       6      56    0   1
3   2016-04-01 9:00     13     33       10      18      30    0   1
4  2016-04-01 12:00     16     28       10      18      20    0   1

In [18]:
new_df.shape

(176247, 8)

In [19]:
pd.value_counts(new_df['loc'])

3    58749
2    58749
1    58749
Name: loc, dtype: int64

In [20]:
pd.value_counts(new_df['cond'])

0.0    173705
1.0      1407
Name: cond, dtype: int64

In [21]:
new_df.columns

Index(['mea_ddhr', 'tem_in', 'hum_in', 'tem_coil', 'tem_out', 'hum_out',
       'cond', 'loc'],
      dtype='object')

In [22]:
new_df['time_period'] = 0
new_df['time_period'] = new_df.apply(lambda x : datetime.datetime.strptime(x['mea_ddhr'], '%Y-%m-%d %H:%M').replace(minute=0),axis = 1)

In [23]:
new_df['tem_diff'] = 0
new_df['tem_diff'] = new_df.apply(lambda x : x['tem_in']- x['tem_coil'],axis = 1)

In [24]:
new_df.shape

(176247, 10)

In [25]:
new_df.columns

Index(['mea_ddhr', 'tem_in', 'hum_in', 'tem_coil', 'tem_out', 'hum_out',
       'cond', 'loc', 'time_period', 'tem_diff'],
      dtype='object')

In [26]:
new_df['tem_diff'].describe()

count    175112.000000
mean          0.815400
std           1.513463
min          -4.530000
25%          -0.240000
50%           0.820000
75%           1.930000
max           7.040000
Name: tem_diff, dtype: float64

In [27]:
new_df.shape

(176247, 10)

In [29]:
new_df.to_csv('./plant1_new1.csv')